.promo {
    padding: 185px 0 200px 0;
    min-height: 940px;
    z-index: 1;
    &__inner {
        position: relative;
        display: flex;
        justify-content: space-between;
        z-index: 10;
    }
    &__substrate {
        position: absolute;
        width: 622px;
        height: 622px;
        top: -80px;
        left: -200px;
        background: #FFDFB9;
        opacity: 0.5;
        filter: blur(30px);
        border-radius: 100%;
        z-index: -1;
    }
    &__subtitle {
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        color: var(--tundora-color);
    }
    &__title {
        margin-top: 35px;
        font-weight: 700;
        font-size: 52px;
        line-height: 65px;
        max-width: 370px;
    }
    &__hero {
        position: relative;
        &-img {
            max-width: 775px;
            max-height: 573px;
            border-radius: 0px 0px 60px 60px;
        }
        &-sqr {
            position: absolute;
            width: 783px;
            height: 579px;
            top: -21px;
            right: -21px;
            border: 5px solid var(--burning-orange);
            border-radius: 20px;
        }
    }
    &__text {
        margin-top: 35px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: var(--tundora-color);
    }
}

@media (max-width: 1400px) {
    .promo {
        &__hero {
            &-img {
                max-width: 675px;
                max-height: 473px;
            }
            &-sqr {
                display: none;
            }
        }
    }
    .button__promo {
        margin-top: 80px;
    }
}
@media (max-width: 1200px) {
    .promo {
        &__hero {
            &-img {
                max-width: 575px;
                max-height: 373px;
            }
        }
    }
    .button__promo {
        margin-top: 70px;
    }
}
@media (max-width: 992px) {
    .promo {
        padding-top: 120px;
        &__hero {
            &-img {
                max-width: 475px;
                max-height: 373px;
            }
        }
        &__title {
            font-size: 38px;
            line-height: 57px;
        }
    }
    .button__promo {
        margin-top: 50px;
    }
}
@media (max-width: 850px) {
    .promo {
        min-height: 600px;
    }
    .promo__inner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .promo__text {
        display: none;
    }
    .button__promo {
        margin: 0 auto;
        margin-top: 50px;
        display: block;
    }
    .promo_subheader {
        text-align: center;
    }
}
@media (max-width: 520px) {
    .promo__hero-img {
        display: none;
    }
    .promo__title {
        font-size: 30px;
        line-height: 40px;
        text-align: center;
    }
    .promo__substrate {
        display: none;   
    }
}